<div class="layout">
  <aside class="sidebar">
    <!-- conteúdo da barra lateral -->
    <div class="profile">.</div>
  </aside>

  <main class="content">
    <div class="blank-area">
      <div>
        <img class="logo" src="logo-group.svg">
      </div>
      <div class="top">
        <app-balance></app-balance>
        <app-limit></app-limit>
      </div>
        <div class="line-separation"></div>
      <div class="bottom">
        <app-transfer-option
          name="Pix and transfer"
          page="/login"
        ></app-transfer-option>

        <app-transfer-option
          name="Deposit"
          page="/login"
        ></app-transfer-option>

        <app-transfer-option
          name="Sake"
          page="/login"
        ></app-transfer-option>
      </div>
    </div>
  </main>
</div>