.content{
    h1{
        font-size: 28px;
    }
    transition: 0.25s;
    font-family: 'Poppins';
    display: grid;
    width: 160px;
    height: 150px;
    background: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
    padding: 40px 50px 80px;
    box-shadow: 2px 10px 10px #868686;
    border-radius: 40px;
    span{
        font-size: 18px;
    }
}

.line{
    background-color: black;
    height: 1px;
    width: 60%;
}

.content:hover{
    cursor: pointer;
    transform: translateY(-7.6px);
}