main{
    display: flex;
    flex-direction: column;
    background-image: url("../../../../public/background.svg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
}
.main-card{
    gap: 15px;
    padding: 20px;
    border-radius: 50px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    
    background-color: white;
    box-shadow: 5px 10px 70px;
    height: 900px;
    width: 500px;
    
    .logintext{
        padding: 2px;
        font-size: 24px;
    }

    .logo-area{
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    

    .line-separation{
        background-color: #FF0051;
        width: 200px;
        height: 1px;
    }

    .buttons-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }

    .forgot-text{
        color: #6da7ff;
    }

    button{
        transition: 0.2s;
        cursor: pointer;
        border-radius: 40px;
        font-size: 20px;
        height: 70px;
        width: 170px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    button:hover{
        transform: translateY(-2px);
    }
    .loginBtn{
        
        font-size: 32px;
        border: none;
        background-color: #FF0051;
        color: white;
    }
    .signupBtn{
        font-size: 32px;
        color: #FF0051;
        border: solid;
        border-color: #FF0051;
        background-color: transparent;
    }
}

