<main class="main">
  <div class="content">
    <button class="login-register-btn" (click)="navigate()">Login/Register</button>

    <div class="text-area">
      <div class="title-row">
        <p class="best-bank-title">
          <span class="texto-negrito">Best</span>
          <span> bank</span>
        </p>
        <img src="white-logo.svg" class="logo">
      </div>

        <div class="line-separation"></div>
        <p class="second-text">The best place to keep your money safe</p>

    </div>

    <div class="footer-text">
      bestbank.com
    </div>
    
  </div>
</main>